--index-url https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cu128

torch==2.9.1+cu128
torchvision==0.24.1+cu128
torchaudio==2.9.1+cu128

datasets>=3.0.0
lightning>=2.4.0
kagglehub
wandb

# models
sentence-transformers>=3.0.0
peft
bertopic
concept_erasure
spacy

# visualizations
matplotlib
seaborn
imbalanced-learn
phate>=2.0.0
adjustText
